@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered table-striped"> 
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m=> m.ProductId)</th>
            <th>@Html.DisplayNameFor(m=> m.Price)</th>
            <th>@Html.DisplayNameFor(m=> m.Name)</th>
            <th>@Html.DisplayNameFor(m=> m.Price)</th>
        </tr>
    </thead>
</table>